
<title>工作台-汽车管理系统</title>

<!-- ajax layout which only needs content area -->
<div class="page-header">
	<h1>
		工作台
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			概览 &amp; 统计
		</small>
	</h1>
</div><!-- /.page-header -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="space-6"></div>

			<div class="col-sm-7 infobox-container">
				<!-- #section:pages/dashboard.infobox -->
				<div class="infobox infobox-green">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-comments"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">32</span>
						<div class="infobox-content">意向</div>
					</div>

					<!-- #section:pages/dashboard.infobox.stat -->
					<div class="stat stat-success">+30</div>

					<!-- /section:pages/dashboard.infobox.stat -->
				</div>

				<div class="infobox infobox-pink">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-shopping-cart"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">8</span>
						<div class="infobox-content">保有</div>
					</div>
					<div class="stat stat-important">-20</div>
				</div>

				<div class="infobox infobox-pink">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-shopping-cart"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">8</span>
						<div class="infobox-content">已定未交</div>
					</div>
					<div class="stat stat-important">-20</div>
				</div>

				<div class="infobox infobox-blue">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-twitter"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">11</span>
						<div class="infobox-content">战败结束</div>
					</div>

					<div class="stat stat-success">+30</div>
				</div>


				<div class="infobox infobox-purple">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-bell"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">7</span>
						<div class="infobox-content">退订</div>
					</div>
				</div>

				<div class="infobox infobox-blue2">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-backward"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">7</span>
						<div class="infobox-content">退车</div>
					</div>
				</div>

				<div class="infobox infobox-orange">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-bomb"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">7</span>
						<div class="infobox-content">待完善</div>
					</div>
				</div>

				<div class="infobox infobox-orange2">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-shopping-cart"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">7</span>
						<div class="infobox-content">未留档</div>
					</div>
				</div>

				<div class="infobox infobox-red">
					<div class="infobox-icon">
						<i class="ace-icon fa fa-flask"></i>
					</div>

					<div class="infobox-data">
						<span class="infobox-data-number">7</span>
						<div class="infobox-content">所有客户</div>
					</div>
				</div>


				<!-- /section:pages/dashboard.infobox -->
				<div class="space-6"></div>
			</div>

			<div class="vspace-12-sm"></div>

			<div class="col-sm-5">
				<!-- #section:pages/dashboard.infobox.dark -->
				<div class="infobox infobox-purple infobox-big infobox-dark">
					<div class="infobox-progress">
						<!-- #section:pages/dashboard.infobox.easypiechart -->
						<div class="easy-pie-chart percentage" data-percent="61" data-size="39">
							<span class="percent">61</span>%
						</div>

						<!-- /section:pages/dashboard.infobox.easypiechart -->
					</div>

					<div class="infobox-data">
						<div class="infobox-content">50</div>
						<div class="infobox-content">留档</div>
					</div>
				</div>
				<!-- /section:pages/dashboard.infobox.dark -->

				<!-- #section:pages/dashboard.infobox.dark -->
				<div class="infobox infobox-green infobox-big infobox-dark">
					<div class="infobox-progress">
						<!-- #section:pages/dashboard.infobox.easypiechart -->
						<div class="easy-pie-chart percentage" data-percent="61" data-size="39">
							<span class="percent">61</span>%
						</div>

						<!-- /section:pages/dashboard.infobox.easypiechart -->
					</div>

					<div class="infobox-data">
						<div class="infobox-content">55</div>
						<div class="infobox-content">营业</div>
					</div>
				</div>
				<!-- /section:pages/dashboard.infobox.dark -->

				<!-- #section:pages/dashboard.infobox.dark -->
				<div class="infobox infobox-blue infobox-big infobox-dark">
					<div class="infobox-progress">
						<!-- #section:pages/dashboard.infobox.easypiechart -->
						<div class="easy-pie-chart percentage" data-percent="61" data-size="39">
							<span class="percent">61</span>%
						</div>

						<!-- /section:pages/dashboard.infobox.easypiechart -->
					</div>

					<div class="infobox-data">
						<div class="infobox-content">50</div>
						<div class="infobox-content">进店</div>
					</div>
				</div>
				<!-- /section:pages/dashboard.infobox.dark -->

				<!-- #section:pages/dashboard.infobox.dark -->
				<div class="infobox infobox-red infobox-big infobox-dark">
					<div class="infobox-progress">
						<!-- #section:pages/dashboard.infobox.easypiechart -->
						<div class="easy-pie-chart percentage" data-percent="61" data-size="39">
							<span class="percent">61</span>%
						</div>

						<!-- /section:pages/dashboard.infobox.easypiechart -->
					</div>

					<div class="infobox-data">
						<div class="infobox-content">50</div>
						<div class="infobox-content">订单</div>
					</div>
				</div>
				<!-- /section:pages/dashboard.infobox.dark -->
			</div><!-- /.col -->
		</div><!-- /.row -->

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
  <script src="../static/assets/js/excanvas.js"></script>
<![endif]-->
<script type="text/javascript">
	var scripts = [null,"../static/assets/js/jquery-ui.custom.js","../static/assets/js/jquery.ui.touch-punch.js","../static/assets/js/jquery.easypiechart.js","../static/assets/js/jquery.sparkline.js","../static/assets/js/flot/jquery.flot.js","../static/assets/js/flot/jquery.flot.pie.js","../static/assets/js/flot/jquery.flot.resize.js", null]
	$('.page-content-area').ace_ajax('loadScripts', scripts, function() {
	  //inline scripts related to this page
		 jQuery(function($) {
		$('.easy-pie-chart.percentage').each(function(){
			var $box = $(this).closest('.infobox');
			var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
			var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
			var size = parseInt($(this).data('size')) || 50;
			$(this).easyPieChart({
				barColor: barColor,
				trackColor: trackColor,
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: parseInt(size/10),
				animate: ace.vars['old_ie'] ? false : 1000,
				size: size
			});
		})
	
		$('.sparkline').each(function(){
			var $box = $(this).closest('.infobox');
			var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
			$(this).sparkline('html',
							 {
								tagValuesAttribute:'data-values',
								type: 'bar',
								barColor: barColor ,
								chartRangeMin:$(this).data('min') || 0
							 });
		});
	
	
	  //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
	  //but sometimes it brings up errors with normal resize event handlers
	  $.resize.throttleWindow = false;
	
	  var placeholder = $('#piechart-placeholder').css({'width':'90%' , 'min-height':'150px'});
	  var data = [
		{ label: "social networks",  data: 38.7, color: "#68BC31"},
		{ label: "search engines",  data: 24.5, color: "#2091CF"},
		{ label: "ad campaigns",  data: 8.2, color: "#AF4E96"},
		{ label: "direct traffic",  data: 18.6, color: "#DA5430"},
		{ label: "other",  data: 10, color: "#FEE074"}
	  ]
	  function drawPieChart(placeholder, data, position) {
	 	  $.plot(placeholder, data, {
			series: {
				pie: {
					show: true,
					tilt:0.8,
					highlight: {
						opacity: 0.25
					},
					stroke: {
						color: '#fff',
						width: 2
					},
					startAngle: 2
				}
			},
			legend: {
				show: true,
				position: position || "ne", 
				labelBoxBorderColor: null,
				margin:[-30,15]
			}
			,
			grid: {
				hoverable: true,
				clickable: true
			}
		 })
	 }
	 drawPieChart(placeholder, data);
	
	 /**
	 we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
	 so that's not needed actually.
	 */
	 placeholder.data('chart', data);
	 placeholder.data('draw', drawPieChart);
	
	
	  //pie chart tooltip example
	  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
	  var previousPoint = null;
	
	  placeholder.on('plothover', function (event, pos, item) {
		if(item) {
			if (previousPoint != item.seriesIndex) {
				previousPoint = item.seriesIndex;
				var tip = item.series['label'] + " : " + item.series['percent']+'%';
				$tooltip.show().children(0).text(tip);
			}
			$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
		} else {
			$tooltip.hide();
			previousPoint = null;
		}
		
	 });
	
		/////////////////////////////////////
		$(document).one('ajaxloadstart.page', function(e) {
			$tooltip.remove();
		});
	
	
	
	
		var d1 = [];
		for (var i = 0; i < Math.PI * 2; i += 0.5) {
			d1.push([i, Math.sin(i)]);
		}
	
		var d2 = [];
		for (var i = 0; i < Math.PI * 2; i += 0.5) {
			d2.push([i, Math.cos(i)]);
		}
	
		var d3 = [];
		for (var i = 0; i < Math.PI * 2; i += 0.2) {
			d3.push([i, Math.tan(i)]);
		}
		
	
		var sales_charts = $('#sales-charts').css({'width':'100%' , 'height':'220px'});
		$.plot("#sales-charts", [
			{ label: "Domains", data: d1 },
			{ label: "Hosting", data: d2 },
			{ label: "Services", data: d3 }
		], {
			hoverable: true,
			shadowSize: 0,
			series: {
				lines: { show: true },
				points: { show: true }
			},
			xaxis: {
				tickLength: 0
			},
			yaxis: {
				ticks: 10,
				min: -2,
				max: 2,
				tickDecimals: 3
			},
			grid: {
				backgroundColor: { colors: [ "#fff", "#fff" ] },
				borderWidth: 1,
				borderColor:'#555'
			}
		});
	
	
		$('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('.tab-content')
			var off1 = $parent.offset();
			var w1 = $parent.width();
	
			var off2 = $source.offset();
			//var w2 = $source.width();
	
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	
	
		$('.dialogs,.comments').ace_scroll({
			size: 300
	    });
		
		
		//Android's default browser somehow is confused when tapping on label which will lead to dragging the task
		//so disable dragging when clicking on label
		var agent = navigator.userAgent.toLowerCase();
		if(ace.vars['touch'] && ace.vars['android']) {
		  $('#tasks').on('touchstart', function(e){
			var li = $(e.target).closest('#tasks li');
			if(li.length == 0)return;
			var label = li.find('label.inline').get(0);
			if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
		  });
		}
	
		$('#tasks').sortable({
			opacity:0.8,
			revert:true,
			forceHelperSize:true,
			placeholder: 'draggable-placeholder',
			forcePlaceholderSize:true,
			tolerance:'pointer',
			stop: function( event, ui ) {
				//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
				$(ui.item).css('z-index', 'auto');
			}
			}
		);
		$('#tasks').disableSelection();
		$('#tasks input:checkbox').removeAttr('checked').on('click', function(){
			if(this.checked) $(this).closest('li').addClass('selected');
			else $(this).closest('li').removeClass('selected');
		});
	
	
		//show the dropdowns on top or bottom depending on window height and menu position
		$('#task-tab .dropdown-hover').on('mouseenter', function(e) {
			var offset = $(this).offset();
	
			var $w = $(window)
			if (offset.top > $w.scrollTop() + $w.innerHeight() - 100) 
				$(this).addClass('dropup');
			else $(this).removeClass('dropup');
		});
	
	})
	
	});
</script>
